{% load static %}

{% include 'ami/core.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Inspection</b></h5>
  </header>

  <div class="w3-container">
    <form>
      <div>
        <h4>Options</h5>
		<div class="w3-third">Barracks:
			<select name="barracks">
				{% for barracks in barracksList %}
					<option value={{ barracks.name }}> {{barracks.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="w3-third">Room:
			<input name="room" type="number" required>
		</div>
		<div>PMI:
			<select name="PMI">
				<option value="No"> No</option>
				<option value="Yes"> Yes</option>
			</select>
		</div>
		<div>
		<p name=AMIdesc style="margin-bottom:0">AMI = Entire sheet met with no more than three gigs.</p>
		<p name=PMIdesc style="margin-top:0; color:grey">PMI = AMI Standard with sink stopper up, door closed, and bedding unfolded only if sleeping on bed with signed PMI card.</p>
		</div>
		<div class="statusBar w3-center" class=w3-center style="background-color:lightgreen">
		Status: <span class=status>Passing</span>
		<input style="margin-left:20" type="submit">
		</div>
		
	  </div>

      <div>
        <h5>Checklist</h5>
        <div>
			{% for type in typeList %}
			  <p class="w3-white">{{ type.name }} </p>
			  {% for gig in gigList %}
			    {% if gig.type == type %}
					<div>
					<input class="w3-check"type="checkbox">
					<label>{{ gig.gig }}</label>
					</div>
				{% endif %}
			  {% endfor %}
			{% endfor %}	
        </div>
	    <div class="statusBar w3-center" style="background-color:lightgreen">
		  Status: <span class=status>Passing</span>
		  <input style="margin-left:20" type="submit">
		</div>
      </div>
    </form>
  </div>
 </div>