{% load static %}

{% include 'ami/core.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
{% if messages %}
    {% for message in messages %}
        <div class="w3-panel w3-green w3-card-4">{{ message }}</div>
    {% endfor %}
{% endif %}
    <h5><b><i class="fa fa-dashboard"></i> Overview</b></h5>
  </header>
    <h1><a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i>  Overview</a></h1>
    <h1><a href="/summary/0" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Company Summary</a></h1>
    <h1><a href="/inspection/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-clipboard fa-fw"></i>  Inspection</a></h1>
    <h1><a href="/room/myroom/0000/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw"></i>  My Room</a></h1>
    <h1><a href="#" class="w3-bar-item w3-button w3-padding w3" style="color:#b4b4b4"><i class="fa fa-users fa-fw"></i>  Subordinates</a></h1>
    <h1><a href="/settings/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a></h1><br><br>