{% include 'ami/core.html' %}
<!-- !PAGE CONTENT! -->

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
  {% if messages %}
    {% for message in messages %}
    <div class="w3-panel w3-green w3-card-4">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <h5><b><i class="fa fa-dashboard"></i> Overview</b></h5>
  </header>


<h1>Welcome to the Cadet AMI Database. This website is an initiative by G3 to digitalize AMI inspections. This allows us to keep better records, as well as provide a wholistic view of the status of the company.</h1>
<img src="/static/ami/images/g3.png" style="width:33%">


<!-- Header -->
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Cadet AMI Database</h1>
  <p class="w3-xlarge">A G3 Initiative</p>
  <!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button> -->
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Description</h1>
      <h5 class="w3-padding-32">Welcome to the Cadet AMI Database. This website is an initiative by G3 to digitalize AMI inspections. This allows us to keep better records, as well as provide a wholistic view of the status of the company.</h5>
    </div>

    <div class="w3-third w3-center">
      <!-- <i class="fa fa-anchor w3-padding-64 w3-text-red"></i> -->
      <img class="w3-padding-64" src="/static/ami/images/g3.png">
    </div>
  </div>
</div>
