{% include 'ami/core.html' %}
<!-- !PAGE CONTENT! -->

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
  {% if messages %}
    {% for message in messages %}
    <div class="w3-panel w3-green w3-card-4">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <h5><b><i class="fa fa-dashboard"></i> Overview</b></h5>
  </header>


<h1>Welcome to the Cadet AMI Database. This website is an initiative by G3 to digitalize AMI inspections. This allows us to keep better records, as well as provide a wholistic view of the status of the company.</h1>
<img src="/static/ami/images/g3.png" style="width:33%">

