{% load static %}

{% include 'ami/core.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
{% if messages %}
    {% for message in messages %}
        <div class="w3-panel w3-green w3-card-4">{{ message }}</div>
    {% endfor %}
{% endif %}
    <h5><b><i class="fa fa-dashboard"></i> My Room</b></h5>
  </header>

  {% for inspection in inspectionList %}
  
  {{inspection.date}}
  {{inspection.inspector}}
  {{inspection.status}}
  {% for gig in inspection.gigs %}
  {{gig.gig.gigName}}
  {{gig.gig.gigDesc}}
  {%endfor%}
  {{inspection.notes}}
  
  {%endfor%}