{% load static %}
{% include "ami/core.html" %}

<!-- !PAGE CONTENT! -->


  <!-- Header -->
  <header class="w3-container">
  {% if messages %}
    {% for message in messages %}
        <div class="w3-panel w3-yellow w3-card-4">{{ message }}</div>
    {% endfor %}
  {% endif %}
    <h5><b><i class="fa fa-cog"></i>Settings</b></h5>
  </header>
<div class = "w3-margin">
  <!-- This form is for User, Room, and Profile data -->
  <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ room_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Save changes</button>
  </form>
</div>
