{% load static %}

{% include 'ami/core.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Company Summary</b></h5>
  </header>
    
    <h4>Select Company: 
    <select name="company" onchange="(window.location = '/summary/' + this.options[this.selectedIndex].value);">
        {% for company in companyList %}
            <option value={{ company.name }} {%if company.name == home%} selected {%endif%}> {{company.name}}</option>
        {% endfor %}
    </select>
    </h4>

 {% for room in roomList %}
     <div style="margin:5px; background-color:{%if room.status == 'Pass'%}green{%elif room.status == 'Fail'%}red{%elif room.status == 'PMI'%}aqua{%else%}white{%endif%};">
        <a href="/room/{{room}}"> 
        <span>{{room.number}} - </span>
        {% for profile in room.occupants %}
        <span> {{profile.user.last_name}}, </span>
        {% endfor %}
        
        
        </a>
     </div>
 {%endfor%}
 
 <div class="w3-panel w3-pale-green w3-leftbar w3-border-green" style='width:25%;margin:0px'>
 <p> Pass </p>
 </div>
 <div class="w3-panel w3-pale-red w3-leftbar w3-border-red" style='width:25%;margin:0px'>
 <p> Fail </p>
 </div>
 <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue" style='width:25%;margin:0px'>
 <p> PMI </p>
 </div>
 <div class="w3-panel w3-white w3-leftbar w3-border-grey" style='width:25%;margin:0px'>
 <p> Not Inspected </p>
 </div>