{% load static %}

{% include 'ami/core.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container w3-row" style="padding-top:22px">
   <div class="w3-col s3"><h5><b><i class="fa fa-dashboard"></i> Company Summary</b></h5></div>
    <div class="w3-col s2">
      <div class="w3-panel w3-pale-green w3-rightbar w3-leftbar w3-bottombar w3-topbar w3-border-green w3-center" style='width:95%;margin:0px'><p> Pass</div>
    </div>
    <div class="w3-col s2">
      <div class="w3-panel w3-pale-red w3-rightbar w3-leftbar w3-bottombar w3-topbar w3-border-red w3-center" style='width:95%;margin:0px'><p> Fail</div>
    </div>
    <div class="w3-col s2">
      <div class="w3-panel w3-pale-blue w3-rightbar w3-leftbar w3-bottombar w3-topbar w3-border-blue w3-center" style='width:95%;margin:0px'><p> PMI </div>
    </div>
    <div class="w3-col s2">
      <div class="w3-panel w3-white w3-rightbar w3-leftbar w3-bottombar w3-topbar w3-border-grey w3-center" style='width:95%;margin:0px'><p> Not Inspected </div>
    </div>
  </header>
    
  <h4>Select Company: 
  <select name="company" onchange="(window.location = '/summary/' + this.options[this.selectedIndex].value);">
  {% for company in companyList %}
  <option value={{ company.name }} {%if company.name == home%} selected {%endif%}> {{company.name}}
  {% endfor %}
  </select>
  </h4>
  {% for room in roomList %}
  <div class=" w3-hover-shadow w3-xxlarge" style="box-sizing:content-box; font-family:'Comic Sans MS'; margin:5px;">
    <a href="/room/{{room}}"> 
    <span class="w3-badge w3-text-black" style="background-color:{%if room.status == 'Pass'%}green{%elif room.status == 'Fail'%}red{%elif room.status == 'PMI'%}aqua{%else%}white{%endif%};">{{room.number}} </span>
    {% for profile in room.occupants %}
    <span> {{profile.user.last_name}}, </span>
    {% endfor %}
    </a>
  </div>
  {%endfor%}